## loading libraries and dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
data=pd.read_csv('advertising.csv')
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
data.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [5]:
print(data.shape)

(200, 4)

In [6]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [8]:
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [20]:
#independent variable 
x=data[['Radio']]
y=data[['TV']]
z=data[['Newspaper']]

In [21]:
#dependent variable
a=data['Sales']

In [22]:
#train test split of x

X_train, X_test, a_train, a_test = train_test_split(x, a, test_size=0.2, random_state=42)

## Model building

In [23]:
regression=LinearRegression()
regression.fit(X_train, a_train)
a_pred = regression.predict(X_test)

In [24]:
mse = mean_squared_error(a_test, a_pred)
r2 = r2_score(a_test, a_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 27.595581948583174
R-squared: 0.10697088619553419

In [25]:
y_train, y_test, a_train, a_test = train_test_split(y, a, test_size=0.2, random_state=42)
regression.fit(y_train, a_train)
a_pred = regression.predict(y_test)

In [26]:
mse = mean_squared_error(a_test, a_pred)
r2 = r2_score(a_test, a_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 6.101072906773964
R-squared: 0.802561303423698

In [27]:
#train test split of z

z_train, z_test, a_train, a_test = train_test_split(z, a, test_size=0.2, random_state=42)
regression.fit(z_train, a_train)
a_pred = regression.predict(z_test)

In [28]:
mse = mean_squared_error(a_test, a_pred)
r2 = r2_score(a_test, a_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 30.759376922769615
R-squared: 0.004586344085821592